<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <form>
    <% if(locals.data){%>
      <table border =1px solid black>
        <tr>
          <td>이미지</td>
        </tr>
        <% for(let i = 0; i<data.length; i++){%>
          <tr>
            <td><img src = <%=data[i].img%>></img></td>
          </tr>
          <%}%>
        <%}%>
      </table>
    </form>

  </body>

</html>
